# Assignment

# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that can be easily accessed, managed, and updated. Databases are managed through Database Management Systems (DBMS), which provide tools to create, read, update, and delete data.

- SQL:- SQL is stand for structure query language, Relational (Tables with rows and columns)
Example:- MySQL, PostgreSQL, Oracle Database, SQL Server

- NoSQL:- Not only SQL. Non-relational (Document, Key-Value, Graph, or Columns) 
Example:- MongoDB, Cassandra, DynamoDB, Redis

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is stand of Data defination language.DDL commands operate on the schema level.
DDL commands are automatically committed in most databases, meaning changes are permanent and cannot be rolled back.

- Create :- Used to create new database objects like tables, views.
Eg:- Create table employee(
    E_id int Primary key,
    name varchar(50),
    age int
);

- Drop :- Used to permanently delete database objects such as tables, views, or databases.
Example:- drop table employee;

- Alter:- Used to modify an existing database object, such as adding, deleting, or modifying columns in a table.
    - Adding columns:-
Example:- Alter table employee add salary Decimal(10,2);
    - Modify an existing column
Example:- ALTER TABLE employees MODIFY age SMALLINT;
    - drop a columns
Example :- Alter table employee drop columns age;
    - TRUNCATE
Used to remove all rows from a table quickly without logging individual row deletions. Unlike DROP, the table structure remains intact.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is stand for Data Manipulation Language is a subset of SQL used to interact with and manipulate data stored in a database. DML commands allow users to insert, update, retrieve, and delete data in tables.

DML operations are typically transactional, meaning changes can be rolled back or committed based on the desired outcome.
1. INSERT :- Used to add new rows of data into a table.
- Example:- INSERT INTO employees (id, name, age, department, salary) VALUES (1, 'John Doe', 30, 'HR', 50000);

2. UPDATE :- Used to modify existing data in a table based on specific conditions.
- Example:- UPDATE employees SET salary = 55000 WHERE id = 1;

3. DELETE :- Used to remove specific rows of data from a table based on conditions. It does not delete the table structure.
- Example:- DELETE FROM employees WHERE department = 'HR';

# Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used to query and retrieve data from a database.
The SELECT statement retrieves data from one or more tables in a database. It can include filters, sorting, grouping, and more to extract and display data precisely as required.

syntax:- SELECT column1, column2, ... FROM table_name WHERE condition GROUP BY column HAVING condition ORDER BY column ASC|DESC LIMIT number;

- SELECT: Specifies the columns to retrieve.
- FROM: Specifies the table(s) to query data from.
- WHERE: Filters rows based on conditions.
- GROUP BY: Groups rows sharing common values.
- HAVING: Filters grouped rows.
- ORDER BY: Sorts the results.
- LIMIT: Restricts the number of rows returned.

# Q5. Explain Primary Key and Foreign Key.

primary key:- 
- A primary key is a column or a set of columns in a database table that uniquely identifies each row in that table.
- primary key columns must contain unique values and not null values.
- Example :- Create table employee(
        Id INT PRIMARY,
        name varchar(50),
        email varchar (50)
);

Foreign key :-
- A foreign key is a column or a set of columns in one table that establishes a link between the data in two tables.
- It refers to the primary key in another table, creating a relationship between the two tables.
- A foreign key ensures that the value in a column matches a value in the primary key of the referenced table.
- Foreign key columns can have duplicate values.

Example:- Parent table
- CREATE TABLE departments (
    id INT PRIMARY KEY, 
    department_name VARCHAR(50)
);

children table
- CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(id)
);

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

# Establish connection
try:
    connection = mysql.connector.connect(
        host="localhost",        # MySQL server address (use appropriate IP or hostname)
        user="your_username",    # Your MySQL username
        password="your_password",# Your MySQL password
        database="your_database" # Database to connect to
    )

    if connection.is_connected():
        print("Successfully connected to MySQL")

        # Create a cursor object
        cursor = connection.cursor()

        # Execute an SQL query
        cursor.execute("SELECT * FROM employees")

        # Fetch and display results
        for row in cursor.fetchall():
            print(row)

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if connection.is_connected():
        cursor.close()  # Close the cursor
        connection.close()  # Close the connection
        print("MySQL connection is closed")

# Q7. Give the order of execution of SQL clauses in an SQL query.

1. From clause,
2. where clause,
3. group by clause,
4. having clause,
5. select clause,order by clause,Limit clause.